name: deploy

on:
  push:
    branches:
      - main

jobs:
  vitest:
    runs-on: [ ubuntu-24.04 ]
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.0
      - run: bun install
      - run: bun run test
